*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #00362c, #000000);
    color: white;
}
img{
    vertical-align: middle;
    margin: 5px;
}
.header{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px 20px 20px;
}
.brand{
    display: flex;
    align-items: center;
    gap: 10px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:#F5C857 ;
}
a{
    font-weight: bold;
    transition: all 0.3s;
}
.nav-links{
    display: flex;
    gap: 60px;
    font-size: 20px;
}
.nav-links a{
    transition: color 0.3s;
}
i{
    font-size: 24px;
    cursor: pointer;
}
i:hover{
    color:#F5C857 ;
}
.hero-section{
    text-align: center;
    padding: 100px 20px 70px;
}
.hero-section h2{
    font-size: 48px;
    margin-bottom: 20px;
}
.hero-section p{
    font-size: 24px;
    color: #D3D3D3;
}
.hero-section::after{
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #F5C857;
    margin: 20px auto 0px auto;
}
.featured-books{
    text-align: center;
    padding: 50px 20px;
}
.featured-books h2{
    font-size: 48px;
    margin-bottom: 20px;
}
.book-list{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.book-item{
    background-color: #5e5e5e;
    padding: 20px;
    margin-bottom: 30px;
    color: white;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}
.book-item h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.book-item p{
    font-size: 18px;
    margin-bottom: 15px;
}
.book-item:hover{
    background-color:burlywood;
    color: black;
    transform: scale(1.05);
    transition: all 0.3s;
}
.view-more button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: #00362c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}